body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #4f4789;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
  color: #1e2019;
  font-family: "Sono", sans-serif;
}

.input {
  border: 1px solid #333;
  border-radius: 0.3rem;
  padding: 0.25rem;
  width: 7em;
}

select {
  margin-left: 0.5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}

.converter-container {
  background-color: #c1cad6;
  border-radius: 0.5rem;
  padding: 1rem;
}
